<% include ./partials/header.ejs %>

    <div class="flex justify-between items-center py-4 px-6 bg-blue-100 shadow-lg">
        <a href="/" class="text-2xl text-blue-600"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/cart" class="text-blue-600 relative">
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </a>
    </div>

    <div class="flex flex-col lg:flex-row gap-10 m-8 pt-12 items-center justify-center">
        <!-- Product Image -->
        <div class="shadow-xl rounded-xl overflow-hidden w-full lg:w-[40%] h-[28rem]">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= product.image %>"
                alt="<%= product.name %>">
        </div>

        <!-- Product Details -->
        <div class="w-full lg:w-[50%] gap-8">
            <h1 class="font-bold text-4xl text-blue-900 mb-4">
                <%= product.name %>
            </h1>
            <p class="text-blue-800 text-lg mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod dolores
                ratione officia unde culpa magnam perferendis.</p>

            <!-- Product Rating -->
            <div class="pb-10">
                <form action="/rating" method="post">
                    <input type="hidden" name="category" value="<%= product.categories %>">
                    <input type="hidden" name="subcategory" value="<%= product.sub_categories %>">
                    <input type="hidden" name="productId" value="<%= product._id %>">

                    <% if (!userRating) { %>
                        <% for (let j=1; j < 6; j++) { %>
                            <button onclick="this.form.submit()" value="<%= j %>" name="rating">
                                <i class="fa-regular fa-star text-blue-500"></i>
                            </button>
                            <% } %>
                                <% } else { %>
                                    <% for (let j=1; j < userRating + 1; j++) { %>
                                        <button onclick="this.form.submit()" value="<%= j %>" name="rating">
                                            <i class="fa-solid fa-star text-yellow-400"></i>
                                        </button>
                                        <% } %>
                                            <% for (let j=userRating + 1; j < 6; j++) { %>
                                                <button onclick="this.form.submit()" value="<%= j %>" name="rating">
                                                    <i class="fa-regular fa-star text-blue-500"></i>
                                                </button>
                                                <% } %>
                                                    <% } %>
                </form>
            </div>

            <!-- Product Price -->
            <h2 class="text-3xl text-blue-900 font-semibold mb-10">₹ <%= product.price %>.00</h2>

            <!-- Add to Cart Form -->
            <div class="mb-10">
                <form action="/cart/updates?productId=<%= product._id %>" method="post"
                    class="flex lg:flex-row items-center justify-between gap-4">
                    <input type="hidden" name="prod" value="<%= product._id %>">

                    <div class="flex items-center gap-3 ">
                        <label for="quantity" class="text-lg font-semibold text-blue-800">Quantity:</label>
                        <select name="quantity"
                            class="py-2 px-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300 w-auto">
                            <% if (products) { %>
                                <option value="" disabled selected>
                                    <%= products.quantity %>
                                </option>
                                <% } %>
                                    <% for (let j=1; j <=10; j++) { %>
                                        <option value="<%= j %>">
                                            <%= j %>
                                        </option>
                                        <% } %>
                        </select>
                    </div>

                    <% if (products) { %>
                        <button type="submit"
                            class=" lg:w-auto bg-blue-700 text-white py-2 px-3 rounded-lg hover:bg-blue-800 transition duration-300">
                            Update Qty
                        </button>
                        <p class="text-green-600 font-semibold text-lg lg:w-auto text-center lg:text-left">
                            Product in the cart
                        </p>
                        <% } else { %>
                            <button type="submit"
                                class="w-full lg:w-auto bg-blue-700 text-white py-2 px-4 rounded-lg hover:bg-blue-800 transition duration-300">
                                Add to Cart
                            </button>
                            <% } %>
                </form>
            </div>

            <!-- Buy Now Button -->
            <button
                class="w-full bg-blue-900 text-white py-3 rounded-full text-center hover:bg-blue-800 transition duration-300">
                Buy This Product
            </button>
        </div>
    </div>

    <% include ./partials/footer.ejs %>